
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<h1>ForgotPasswordConfirmation</h1>

<h2>Şifre Sıfırlama İsteği Alındı</h2>
<p>Şifre sıfırlama bağlantısı e-posta adresinize gönderildi. Lütfen gelen kutunuzu kontrol edin.</p>
