
@{
    ViewData["Title"] = "ResetPassword";
}

<h1>ResetPassword</h1>

@model Yazlab_2.Models.ViewModel.ResetPasswordViewModel

<h2>Şifre Sıfırla</h2>
<form asp-action="ResetPassword" method="post">
    <input type="hidden" name="Token" value="@Model.Token" />
    <input type="hidden" name="Email" value="@Model.Email" />

    <div class="form-group">
        <label for="Password">Yeni Şifre</label>
        <input type="password" class="form-control" id="Password" name="Password" required />
    </div>

    <div class="form-group">
        <label for="ConfirmPassword">Yeni Şifre Tekrar</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required />
    </div>

    <button type="submit" class="btn btn-primary">Şifreyi Sıfırla</button>
</form>
