@model Yazlab_2.Models.EntityBase.Kategori

<h2>Kategori Ekle</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="AddCategory" method="post">
    <div class="form-group">
        <label for="CategoryName">Kategori Adı</label>
        <input type="text" id="CategoryName" name="CategoryName" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Ekle</button>
</form>
